PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/WDP301?retryWrites=true&w=majority

EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

JWT_SECRET=your_jwt_secret_here
REFRESH_SECRET=your_refresh_secret_here
RESET_PASSWORD_SECRET=your_reset_secret_here

CLIENT_URL=https://<your-fe-vercel-url>.vercel.app
GOOGLE_CLIENT_ID=your_google_client_id

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

OPENAI_API_KEY=your_openai_api_key
EMBEDDING_MODEL=text-embedding-3-large
LLM_MODEL=gpt-4o-mini

PINECONE_API_KEY=your_pinecone_api_key
PINECONE_ENVIRONMENT=us-west1-gcp
PINECONE_INDEX_NAME=test-index
PINECONE_CLOUD_PROVIDER=aws
PINECONE_REGION=us-west-1
PINECONE_NAME_SPACE=test-namespace
PINECONE_INDEX_HOST=https://your-index.svc.pinecone.io

NODE_ENV=production
